html {
    margin: 0;
    padding: 25px 0;
    min-height: calc(100vh - 50px);
}

h1 {
    margin-left: 15px;
    font-family: 'Anton', sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header button {
    display: flex;
    flex-grow: 1;
    width: 100%;
    border: none;
    margin: 0 15px;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-size: 16px;
}

section {
    display: none;
    padding: 15px;
    flex-direction: column;
}

section.display {
    display: flex;
}

button.active {
    font-weight: 700;
}

#filtered-words {
    background-color: lightblue;
}

#play {
    flex-direction: row;
}

.battlepass {
    background-color: #b4b4b4;
    width: 16em;
    padding-left: 20px;
    border: solid black 1px;
    margin-bottom: 20px;
}

.recentChat {
    background-color: #b4b4b4;
    width: 16em;
    padding-left: 20px;
    border: solid black 1px;
}

.left {
    display: flex;
    flex-direction: column
}

img {
    height: 500px;
}

.yourAvatar {
    margin-left: 15px;
}

.editAvatar {
    background-color: black;
    padding: 5px;
    text-decoration: none;
    color: white;
}

/* CHAT */
#chat-container {
    max-height: 250px;
    max-width: 600px;
    width: 100%;
    position: absolute;
    bottom: 55px;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    overflow-y: auto;
}

#chat {
    width: 100%;
}

#username-label {
    position: absolute;
    right: 285px;
    top: 0;
}

#username {
    position: absolute;
    right: 25px;
    top: 0;
    width: 250px;
}

#chat p {
    margin: 0;
}

#chat .message-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: #360167;
    color: #fff;
    padding: 7.5px;
    max-width: 80%;
}

#chat .message-container.current-user {
    background-color: #6b0772;
    text-align: right;
    margin-left: auto;
}

#chat .message-container:not(:last-of-type) {
    margin-bottom: 10px;
}

#chat .message-created-at {
    font-size: 10px;
    text-align: right;
}

#chat-container {
    max-width: 600px;
    width: 100%;
}

#chat-container #send-message {
    display: flex;
    height: 60px;
}

#chat-container textarea {
    width: 100%;
    margin: 2.5px;
    border: none;
    border-radius: 3px;
    resize: none;
}

#chat-container button {
    width: 120px;
    margin: 2.5px;
    border-radius: 3px;
    resize: none;
    background-color: rgb(66, 19, 177);
    border: none;
    color: #fff;
    font-weight: 700;
}

/* CHAT */